/* 스크롤바 전체 기본 꾸미기 */
.scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 트랙 꾸미기 */
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* 스크롤바 막대 꾸미기 */
.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.25rem;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
